p{
    background-color: rgb(247, 179, 190);
    color:black;
    font-family: Verdana,"DejaVu Sans", sans-serif;
}
#second{
    color:blue;
    font-size: 36px;
}
#third{
    font-size: 24px;
}
#fourth{
    font-size: 24px;
    background-color: lightgreen;
    font-weight: bold;
}